@import url('https://fonts.googleapis.com/css?family=Lato:300|Open+Sans+Condensed:300|Raleway|Source+Sans+Pro:300|Yantramanav:300');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  transition: .3s ease;
}

.event .material-icons:hover {
    filter: contrast(0.4);
    cursor: pointer;
}

/*
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Yantramanav', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1{
	margin-bottom: 1rem;
}

a{
    color: #000;
    text-decoration: none;
    transition: .3s ease;
}

a:hover{
    color: #666;
}

p, span, li{
    font-family: 'Raleway', sans-serif;
}

#masterwrapper{
	width: 100%;
	height: 100%;
	background: #ffffff url("../images/background.jpg") no-repeat center;
	background-size: cover;
	line-height: 1.5rem;
	padding: 2.5% 5%;
}

#divForm{
	width: 100%;
	max-width: 300px;
    background-color: rgba(255, 255,255, .8);
    box-shadow: 6px 7px 10px #333;
    border-radius: 5px;
    padding: 1rem;
    overflow: auto;
}

#logo{
	width: 100%;
	margin: 0 0 10% 0;
}

#indexcontent{
	width: 40%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	position: relative;
}

form{
    display: flex;
    flex-flow: column nowrap;
}

h2{
	font-family: 'Source Sans Pro', sans-serif;
}

input, select{
    height: 35px;
    padding: 5px;
    border: none;
    border-radius: 3px;
	margin-bottom: 1rem;
	width: 100%;
	outline: none;
	border-bottom: 2px solid #ffffff;
}

input:focus, select:focus{
	border-bottom: 2px solid #1a73e8 !important; 
}

button{
	border: none;
	cursor: pointer;
	background: none;
	font-size: 1.4rem;
	margin: 0 auto;
    font-family: 'Lato', sans-serif;
	outline: none;
	display: flex;
    align-items: center;
    position: relative;
   }
   
[type='submit'] i{
    opacity: 0;
    position: absolute;
    right: -30px;
}

.icon-marg-right{
	margin-right: .5rem;
}

.icon-marg-left{
	margin-left: .5rem;
}

#signup, #back, .reset{
	cursor: pointer;
	text-align: center;
}

#signup:hover, #back:hover, .reset:hover{
	text-decoration: underline;
}


@media screen and (max-width: 768px){
	#divForm{
		width: 65%;
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
		padding: 25px;
	}
}

.error{
	color: red;
}

form button img{
	display: none;
}

#signupform{
	display: none;
}