p {
    color:green;
}



header {
    background-color: skyblue;
    padding: 10px;
}


h3 {
    padding: 50px;
    text-align: center;
}


footer {
    text-align: center;
    color: rebeccapurple;
}


h2 {
    background-image: url("example04.jpg");
    padding: 5px;
    text-align: center;
    font: 5em sans-serif;
    color: yellowgreen;
}


p:hover {
    color: brown;
    text-align: center;
  }

a:hover {
    color: maroon;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: mediumspringgreen;
  }